<?xml version="1.0"?>
<config>
    <modules>
        <Bevello_Slider>
            <version>0.3.0</version>
        </Bevello_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>Bevello_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <slider>
                <use>admin</use>
                <args>
                    <module>Bevello_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <slider module="slider">
                <title>Internal Ads</title>
                <sort_order>71</sort_order>
                <children>
                    <hero module="slider">
                        <title>Hero Slider</title>
                        <sort_order>0</sort_order>
                        <action>slider/adminhtml_slider</action>
                    </hero>
                </children>
                <children>
                    <ads module="slider">
                        <title>Homepage Footer</title>
                        <sort_order>1</sort_order>
                        <action>slider/adminhtml_footerrow</action>
                    </ads>
                </children>
            </slider>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <slider>
                            <title>Slider Module</title>
                            <sort_order>200</sort_order>
                        </slider>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <slider>
                <class>Bevello_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>Bevello_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                </entities>
            </slider_mysql4>
            <footerads>
                <class>Bevello_Slider_Model</class>
                <resourceModel>footerads_mysql4</resourceModel>
            </footerads>
            <footerads_mysql4>
                <class>Bevello_Slider_Model_Mysql4</class>
                <entities>
                    <footerads>
                        <table>bevello_footerads</table>
                    </footerads>
                </entities>
            </footerads_mysql4>
            <footerrow>
                <class>Bevello_Slider_Model</class>
                <resourceModel>footerrow_mysql4</resourceModel>
            </footerrow>
            <footerrow_mysql4>
                <class>Bevello_Slider_Model_Mysql4</class>
                <entities>
                    <footerrow>
                        <table>bevello_footerrow</table>
                    </footerrow>
                </entities>
            </footerrow_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>Bevello_Slider</module>
                    <class>Bevello_Slider_Model_Resource_Mysql4_Setup</class>
                </setup>
                   <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                <use>core_write</use>
                </connection>
                </slider_write>
            <slider_read>
                <connection>
                <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
            <class>Bevello_Slider_Block</class>
            </slider>
            <footerads>
                <class>Bevello_Slider_Block</class>
            </footerads>
            <footerrow>
                <class>Bevello_Slider_Block</class>
            </footerrow>
        </blocks>
        <helpers>
            <slider>
            <class>Bevello_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
</config>